<footer>
    <div class="campo" style="border-bottom: 2px solid white;">
        <h1>DataStorm</h1>
        <h3>Publish and comment!</h3>
        <input type="email" placeholder="E-mail">
        <button>→</button>
    </div>
  
    <div class="campo">
        <h2>OUR TEAM</h2>
        <a href="#">Rodrigo Ccallo</a> <br>
        <a href="#">Gabriel Noguera</a> <br>
        <a href="#">Sabrina Flores</a> <br>
        <a href="">Anibal Lajo</a> 
        <a href="#"></a>
    </div>
  
    <div class="campo" style="background-color: rgb(25, 25, 25)">
        <h2>SOCIAL NETWORK</h2>
        <div style="display: flex;">
            <a href="#"><img src="footer/x.png" alt="X"></a>
            <a href="#"><img src="footer/email.png" alt="Email"></a>
            <a href="#"><img src="footer/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="footer/instagram.png" alt="Instagram"></a>
        </div>
    </div>
</footer>
  